:root {
  --primary-color: #f7d8ba;
  --secondary-color: #acddde;
  --button-color: #fef2dd;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  max-width: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h1 {
  font-size: 96px !important;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

h2 {
  font-size: 48px !important;
  font-family: "Playfair Display", serif;
}

h3 {
  font-size: 24px !important;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 22px !important;
  font-family: "Playfair Display", serif;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--button-color);
  box-shadow: var(--box-shadow);
  color: rgb(61, 58, 52);
  text-align: center;
}

.contact-link:hover {
  color: black;
}

.about-link {
  background: var(--button-color);
  box-shadow: var(--box-shadow);
  color: rgb(61, 58, 52);
  text-align: center;
}
.about-link:hover {
  color: black;
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  background-color: var(--primary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-paragraphs p {
  margin: 10px;
}

.contact-page {
  background-color: var(--primary-color);
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 40px;
  border-radius: 10px;
}

.contact-page p {
  text-align: center;
  font-size: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.center-text {
  text-align: center !important;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--button-color);
  box-shadow: var(--box-shadow);
  color: rgb(61, 58, 52);
}

.app-link:hover {
  color: black;
  color: var(--button-color);
}

.homepage-hero {
  background-color: #ffe7c7;
  padding: 30px;
  padding-top: 140px;
}

.about-me-header {
  background-color: #ffe7c7;
  padding: 80px;
  padding-top: 120px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-me-header h1 {
  font-size: 60px !important;
}

.content-header {
  padding: 40px;
  padding-top: 60px;
}

.work-introduction {
  padding: 50px;
  text-align: center;
  background-color: #fef2dd;
}

.work-introduction p {
  font-size: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

.work-intro {
  padding: 20px;
  padding-top: 80px;
}

.contact-intro h3 {
  font-size: 24px;
  text-align: center;
}

.contact-info a {
  text-align: center;
  text-decoration: non;
}

.work-overview {
  padding: 10px;
}
.work-overview h4 {
  text-align: center;
  padding: 5px;
}
.work-overview p {
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

.work {
  margin-top: 20px;
}
@media (min-width: 768px) {
  .work {
    background: linear-gradient(#acddde, #f7d8ba) no-repeat center/2px 100%;
  }
}

.project-overview {
  margin-top: 20px;
}

@media (max-width: 577px) {
  .project-overview {
    display: none;
  }
}

@media (max-width: 768px) {
  .desktop-image {
    display: none;
  }
  .mobile-image {
    display: block;
  }
}
@media (min-width: 768px) {
  .desktop-image {
    display: block;
  }
  .mobile-image {
    display: none;
  }
}

.tools-used {
  padding: 30px;
  font-family: "Playfair Display", serif;
}

.tools-used p {
  text-align: left;
}

.about-me-text {
  background-color: var(--primary-color);
}
.about-me-text h6 {
  font-size: 20px;
  opacity: 0.7;
}

.about-me-text p {
  font-size: 14px;
}
